<a (click)='logout()' id="logout-link">
	You are currently logged in, log out by clicking me
</a> <br>

<input type="text" id="search-bar" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Suche Studenten nach Vor- oder Nachname">


<table class="ob-table">
	<thead>
		<tr>
			<th>Bild</th>
			<th>Vorname</th>
			<th>Nachname</th>
			<th>E-Mail</th>
			<th>Adresse</th>
			<th>PLZ</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let student of studentsArray | filter:searchText">
			<td><img src="{{ student.profilePicture }}" /></td>
			<td>{{ student.firstName }}</td>
			<td>{{ student.name }}</td>
			<td>{{ student.email }}</td>
			<td>{{ student.address }}</td>
			<td>{{ student.zipCode }}</td>
		</tr>
	</tbody>
</table>
