#logout-link {
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 10px
}

#search-bar {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 5px;
}

img {
  max-width: 65px;
}
